@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .marquee-left {
    animation: scroll-left 72s linear infinite;
    display: inline-flex;
  }
  
  .marquee-right {
    animation: scroll-right 72s linear infinite;
    display: inline-flex;
  }
  
  .marquee-wrapper {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee-text {
    font-weight: 700;
    margin: 0 16px;
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    .marquee-text {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .marquee-text {
      margin: 0;
      font-size: 1.3rem;
    }
  }