.footer {
    padding: 48px;
    background-color: #fff;
    color: #000;
}

@media (max-width:726px) {

    .footer {
        padding: 16px 16px;
        background-color: #ffffff12;
    }

    .footer-bottom {

        color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        padding-bottom: 120px
    }

    .footer-content {
        display: flex;
        flex-direction: column;

        gap: 48px
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    margin-right: 20px;
}

.footer-logo-section {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.footer-logo {
    width: 200px;
    height: 40px;
    margin-right: 10px;
    filter: grayscale(100%);
    clip-path: inset(0.8px 0 0 0);
}

.footer-name {
    font-size: 1.48rem;
    font-weight: bold;
    line-height: 1.3;
    max-width: 500px;
}

.footer-description {
    font-size: 0.81rem;
    line-height: 1.6;
    margin-bottom: 2rem;

    max-width: 500px;
}

.footer-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    background-color: #ffffff21;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.social-icon:hover {
    background-color: #ffffff40;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;


}

.footer-link {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.81rem;
    color: #000;
    padding: 12px
}

.footer-bottom {
    margin-top: 24px;
    border-top: 1px solid #ffffff21;
    padding-top: 16px;
    text-align: center;
    font-size: 0.71rem;
color: #010054;
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.footer-bottom-link {

    text-decoration: none;
    font-size: 0.71rem;

}

.footer-bottom-link:hover {
    text-decoration: none;

}