@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Rethink Sans', sans-serif;
  --secondary-font: 'Rethink Sans', sans-serif;

  --primary-color: #0F6DF9;
  --secondary-color: #0F6DF9;

  --background-color: #FFFFFF; /* light background */
  --surface-color: #F3F4F6;    /* light gray surface/panels */
  --text-color: #1F2937;       /* dark text for readability */
  --muted-color: #6B7280;      /* secondary/gray text */
  --danger-color: #D73C3C;     /* red for delete/error */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

a:hover {
  color: var(--secondary-color);
}